/* ------------------------------------------------------------------ */
/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ------------------------------------------------------------------ */
/* GENERIC VARIABLES COLOR */
:root {
    --darkGrey: #2D2D2D;
    --lightGrey: #151515
}

/* ------------------------------------------------------------------ */
/* GENERIC STYLE */
body {
    font-family: 'Roboto', sans-serif;
}

.center-xy {
    display: flex;
    justify-content: center;
    align-items: center;
}

.b-radius {
    border-radius: 7px;
    border: 1px solid var(--lightGrey);
    background-color: transparent;
}

/* ------------------------------------------------------------------ */
/* HEADER */
.header {
    height: 150px;
    background-color: var(--darkGrey);
}

.header__logo {
    width: 300px;
}

/* ------------------------------------------------------------------ */
/* SEARCHBAR */
.searchbar {
    display: flex;
    gap: 35px;
    padding: 25px;
}

.searchbar__label {
    color: var(--lightGrey);
    margin-bottom: 8px;
    letter-spacing: 2px;
}

.searchbar__input {
    width: 300px;
    height: 25px;
}

.searchbar__select {
    height: 28px;
    width: 120px;
}

/* ------------------------------------------------------------------ */
/* POKEMON CARD */

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
}


.card {
    padding: 16px;
    text-align: center;
    border-radius: 7px;
    border: 1px solid var(--lightGrey);
    width: 200px;
}

.card__pokemon-picture {
    width: 150px;
}

.card__pokemon-name {
    text-transform: capitalize;
    margin-bottom: 16px;
}

.card__type-container {
    display: flex;
    justify-content: space-evenly;
}


.card__type-paragraph {
    padding: 6px;
    border-radius: 7px;
}
